<!DOCTYPE html>
<html>
    <head>
        <title>Single File Upload</title>
        <style type="text/css">
            div#formbox {
                padding-top: 2em;
            }
            div#prohibited_characters {
                margin-bottom: -.5em;
            }
            p#prohibited_paragraph {
                font-size: 80%;
            }
            /* the style below doesn't work; i think because the div is empty. */
            /* 
            div#bul_pl_header_end {  
                padding-bottom: 5em;
            } 
            */
        </style>
    </head>
    <body>
        <!-- PATTERN-LIBRARY-HEADER start... -->
        {{ pattern_header | safe }}
        <!-- PATTERN-LIBRARY-HEADER end -->
		<div id="formbox" style="width: 500px; margin: auto;">
			<fieldset name="Single File Upload">
                <div id="prohibited_characters">
                    <p id="prohibited_paragraph"><em>Prohibited filename characters: &nbsp {{ prohibited_characters }}</em></p>
                </div>
				{% if error_message %} 
                    <p style="color: red;">Uploade unsuccessful; error, {{ error_message }}</p>
                {% endif %}
                {% if success_message %}
                    <p style="color: green;">File uploaded successfully</p>
                {% endif %}
				<form method="post" action="/uploader/" enctype="multipart/form-data">
					{% csrf_token %}
					<dl>
						<p>
							<!-- <label>Browse and select a file</label>&nbsp;&nbsp; -->
                            <label>Browse and select a file...</label>
                            </br>
							<input type="file" name="file" autocomplete="off" required>
						</p>
					</dl>
					<p>
                        <hr>
						<input type="submit" value="Upload">
					</p>
				</form>
			</fieldset>
		</div>
    </body>
</html>
